<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/src/assets/img/Logo_VetConnection.png">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

    <link rel="stylesheet" href="/src/components/homeMedic/style.css">
    <title>Doctor Profile</title>
</head>
<body>
    <div class="whatsapp-contact">
        <a href="https://wa.me/573502014028/?text=Hola!   
        Necesito mas información para mi Peludito" target="_blank"><img class="whatsapp" src="/src/assets/img/whatsapp_3670051.png" width="60"  title="Contacto Ws"></a>
        <div class="whatsapp-text">Necesito ayuda!</div>
    </div>
       <!-- general page header -->
   <header class="header">
   <a href="/index.html"> <img src="/src/assets/img/LOGO.png" alt="" id="logo" ></a>
    <h3 id="title">¡Amamos conectar vidas!</h3>
    <div id="icons">
        <div>
            <aside class="material-symbols-outlined ">
            menu
            </aside>
            <nav class="menuHidden">
                <a href="/index.html" class="link">Inicio</a>
                <a href="" class="link">Nosotros</a>
                <a href="" class="link">Servicios</a>             
                <a href="" class="link">Blog</a>
                <a href="" class="link">Contáctenos</a>
            </nav>
        </div>
             
        <aside class="material-symbols-outlined1">
            <img src="/src/assets/img/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="" id="img3">
            <div>
                <input class="searchHidden" type="search" name="search" id="search" placeholder="buscar">
            </div>
        </aside>
                    
        </div>
    </header>
     
     
     <!-- main Access -->
     <main>
     <!-- breadcrumb -->

    <h1 class="welcomDoctor">PERFIL PROFESIONAL</h1>

    <div class="containerWelcom">
        <div class="containerPhoto">
            <input type="file" name="" id="" class="inputPhoto" accept="image/*">
        </div>

        <button class="viewProfiles"><i class="ri-menu-line"></i></button>
        <div class="containerOptions">
            <span class="patients">Ver pacientes</span>
            <span class="photo">Cambiar foto de perfil</span>
        </div>

        <button class="create">Registrar Peludito</button>
        <button class="exit">Salir</button>

        <div class="container_information">
            <div class="innerPart">
                <div id="gridClinicData">
                    <div ><b>Nombre:</b></div>
                    <div>
                        <p id="Name" class="vetFields"></p>
                        <input type="text" id="updateName" class="updateFields" />
                    </div>
                    <div><b>Especialidad:</b></div>
                    <div>
                        <p id="Specialty" class="vetFields"></p>
                        <input type="text" id="updateSpecialty" class="updateFields" />
                    </div>
                    <div><b>Ciudad:</b></div>
                    <div>
                        <p id="city" class="vetFields"></p>
                        <input type="text" id="updateCity" class="updateFields" />
                    </div>
                    <div><b>Correo:</b></div>
                    <div>
                        <p id="email" class="vetFields"></p>
                        <input type="text" id="updateEmail" class="updateFields" />
                    </div>
                    <div><b>Perteneciente a sede:</b></div>
                    <div>
                        <p id="medicalCenter" class="vetFields"></p>
                        <input type="text" id="updateMedicalCenter" class="updateFields" />
                    </div>
                    <button type="button" id="updateButton"><b>Actualizar Datos</b></button>
                    <button type="button" id="saveVetButton"><b>Guardar Datos</b></button>
                </div>
            </div>
        </div>
    </div>
    
    <a href="#down" class="goSearch"></a>
    <div class="containerCreateProfiles">  
        <h3>Registra un nuevo Peludito</h3>
        <form action="" class="formNewProfile">
            <span class="equis">X</span>
            <input type="text"  class="name" placeholder="Nombre del Peludito" required>
            <input type="text" class="ownerName" placeholder="Nombre del Acudiente" required>
            <input type="text" class="id" placeholder="documento Asociado al Peludito" required>
            <input type="text" class="specie" placeholder="specie" required>
            <input type="text" class="raza" placeholder="Raza" required>
            <input type="text" class="age" placeholder="Edad" required>
            <input type="text" class="address" placeholder="Dirección" required>
            <input type="text" class="telephone" placeholder="Teléfono del Acudiente" required>
            <input type="number" class="password" placeholder="password del Peludito" required>
            <div class="mistakes"></div>
            <button class="createProfile">Crear Perfil</button>
        </form>
    </div>
    


    


    <div class="containerSearchPatients">
        <h2> Pacientes</h2>
        <input type="text" class="searchPatients" placeholder="Introduce la cédula del dueño">
        <i class="ri-search-line"></i>
        <div class="containerReload">
            <i class="ri-restart-line"></i>
            <span>Ver todos</span>
        </div>
    </div>
    <a href="" id="down"></a>
    <div class="containerPatients" id="down"></div>

    

<!--Footer-->
<footer class="footer">
    <div class="contFooter">
        <div class="contFooter1">
            <img src="/src/assets/img/logo.png" alt="" id="img1">
            <div class="list">
                <div>CONTÁCTANOS</div>
                <div class="container1">
                    <div ><img src="/src/assets/img/icons8-teléfono-24.png" alt="" id="img2"></div>
                    <p>Linea de atención al cliente</p>
                </div>
                <div class="container1">
                    <div>
                        <img src="/src/assets/img/icons8-whatsapp-50.png" alt="" id="img2">
                    </div>
                    <p>(+57) 350 2014028</p>
                </div>
                <div class="container1">
                    <div>
                        <img src="/src/assets/img/icons8-correo-50.png" alt="" id="img2">
                    </div>
                    <p>CorreoEjemplo@gmail.com</p>
                </div>
                  
            </div>
            
   
        </div>
        <div id="text">
            <p>Síguenos y descubre nuestro<br>contenido de interés</p>
            <div id="text1">
               <a href="#" id="blogColor"><h3>Blog</h3></a>
               <a href="#"><img src="/src/assets/img/icons8-instagram-24.png" alt="" id="img2"></a>
               <a href="#"><img src="/src/assets/img/icons8-facebook-nuevo-50 (1).png" alt="" id="img2"></a>
               <a href="#"><img src="/src/assets/img/icons8-tik-tok-30.png" alt="" id="img2"></a>
               <a href="#"><img src="/src/assets/img/icons8-youtube-50.png" alt="" id="img2"></a>
               <a href="#" id="blogColor"><h3>APP</h3></a>
            </div>
        </div>
    </div>
    <div class="subFooter">Vet Connection 2024©  Medellín, Antioquia <br>
        Diseñado y desarrollado por Vet Connection S.A.S © 2024  </div>
   </footer>
  



    <script type="module" src="/src/components/homeMedic/script.js"></script>
</body>
</html>