 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="/src/components/viewPetDoctor/style.css">
</head>
<body>
    <div class="whatsapp-contact">
        <a href="https://wa.me/573502014028/?text=Hola!   
        Necesito mas infomracion para mi Peludito" target="_blank"><img class="whatsapp" src="/src/assets/img/whatsapp_3670051.png" width="60"  title="Contacto Ws"></a>
        <div class="whatsapp-text">Escríbenos</div>
        </div>
    <header class="header">
        <a href="/index.html"> <img src="/src/assets/img/LOGO.png" alt="" id="logo" ></a>
         <h3 id="title">¡Amamos conectar vidas!</h3>
         <div id="icons">
             <div>
                 <span class="material-symbols-outlined " >
                 menu
                 </span>
                 <nav class="menuHidden">
                     <a href="/index.html" class="enlace">Inicio</a>
                     <a href="" class="enlace">Nosotros</a>
                     <a href="" class="enlace">Servicios</a>
                     <a href="" class="enlace">Blog</a>
                     <a href="" class="enlace">Contáctanos</a>
                 </nav>
             </div>
             <div>
                 <img src="/src/assets/img/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="" id="img3" class="material-symbols-outlined1"> 

                <input class="searchHidden" type="search" name="search" id="search" placeholder="buscar">
             </div>
                        
         </div>
     
     </header>
     
     
     <!-- main Acces -->
     <main>
     <!-- breadcrumb -->

    <h1 class="welcomDoctor">PELUDITOS</h1>
<a href="" id="start"></a>
    <div class="containerWelcom">
        <div class="containerPhoto">
            <input type="file" name="" id="" class="inputPhoto" accept="image/*">
        </div>

        <button class="viewMenu"><i class="ri-menu-line"></i></button>
        <div class="containerOptions">
            <span class="patientsDelete">Eliminar perfil</span>
            <span class="photo">Cambiar foto de perfil</span>
        </div>

        <button class="viewHistory">Crear Historia medica</button>
        <button class="exit">Volver</button>

        <div class="container_information">
            <!-- <h1 class="title">Informacion Medico</h1> -->
            <div class="innerPart">
               
                <ul>
                    <li><strong>Nombre : </strong> <input type="text" disabled class="namePet">  </li>
                    <li><strong>Nombre del acudiente: </strong> <input type="text" class="nameOwner" disabled></li>
                    <li><strong>Telefono Acudiente:</strong> <input type="text" disabled class="phoneOwner"></li>
                    <li><strong>Edad:</strong> <input type="text" disabled class="agePet"></li>
                    <li><strong>Direccion :</strong> <input type="text" disabled class="addressPet"></li>
                    <li><strong>Documento asociado:</strong> <input type="text" disabled class="idOwner"></li>
                    <li><strong>Raza:</strong> <input type="text" disabled class="raza"></li>
                    </ul>`

            </div>
            <button class="updateData">Actualizar datos</button>
        </div>
    </div>
    <a href="#down" class="goHistory"></a>
    
    <div class="containerDeleteProfiles">  
        <h1>ELIMINAR PERFIL</h1>
        <h3>¿Seguro quieres Eliminar este perfil?</h3>
        <span class="equis">X</span>
        <div class="containerButtons">
            <button class="acept">Confirmar</button>
            <button class="cancel">Cancelar</button>
        </div>
    </div>
    

    <div class="containerFeed">
    </div>


    <a href="#start" class="up" title="Ir arriba"><i class="ri-arrow-up-double-fill"></i></a>

    <a href="#final" class="down" title="Ir abajo"><i class="ri-arrow-down-double-line"></i></a>

    <form action="" class="form1">
        <h1 class="titleAdd"></h1>
        <!-- <input type="text" class="cedula" placeholder="Cedula del Propietario"> -->
        <span class="equis2">X</span>
        <textarea name="" id="" class="description feedBack" placeholder="description"></textarea><br>
        <textarea name="" id="" class="physical feedBack" placeholder="Examen physical"></textarea><br>
        <textarea name="" id="" class="diagnosis feedBack" placeholder="diagnosis"></textarea><br>
        <textarea name="" id="" class="treatment feedBack" placeholder="treatment"></textarea><br>
        <textarea name="" id="" class="follow-up feedBack" placeholder="follow-up"></textarea><br>
        <textarea name="" id="" class="comments feedBack" placeholder="comments Nota:(Este campo es opcional)"></textarea><br>
        <div class="mistakes"></div>
        <button class="send">Enviar</button>
    </form>

   <!-- Container de seguridad para los feedBack -->
    
   <a href="/page2/terceraPagina.html" class="cerrar" target=""></a>
   <div class="containerOverlay"></div>
   <div class="containerSecurity">
       
       <h2 class="title">
        ¿Estas seguro de hacer esta historia clinica?
       </h2>
       <div class="containerButtons">          
           <button class="aceptar">Aceptar</button>
           <button class="cancelar">Cancelar</button>
        </div>
    </div>
    <a href="" id="down"></a>

    
<!--Footer-->
<footer class="footer">
    <div class="contFooter">
        <div class="contFooter1">
            <img src="/src/assets/img/logo.png" alt="" id="img1">
            <div class="list">
                <div>CONTÁCTANOS</div>
                <div class="container1">
                    <div ><img src="/src/assets/img/icons8-teléfono-24.png" alt="" id="img2"></div>
                    <p>Linea de atención al cliente</p>
                </div>
                <div class="container1">
                    <div>
                        <img src="/src/assets/img/icons8-whatsapp-50.png" alt="" id="img2">
                    </div>
                    <p>(+57) 350 2014028</p>
                </div>
                <div class="container1">
                    <div>
                        <img src="/src/assets/img/icons8-correo-50.png" alt="" id="img2">
                    </div>
                    <p>CorreoEjemplo@gmail.com</p>
                </div>
                  
            </div>
            
   
        </div>
        <div id="text">
            <p>Síguenos y descubre nuestro<br>contenido de interés</p>
            <div id="text1">
               <a href="#" id="blogColor"><h3>Blog</h3></a>
               <a href="#"><img src="/src/assets/img/icons8-instagram-24.png" alt="" id="img2"></a>
               <a href="#"><img src="/src/assets/img/icons8-facebook-nuevo-50 (1).png" alt="" id="img2"></a>
               <a href="#"><img src="/src/assets/img/icons8-tik-tok-30.png" alt="" id="img2"></a>
               <a href="#"><img src="/src/assets/img/icons8-youtube-50.png" alt="" id="img2"></a>
               <a href="#" id="blogColor"><h3>APP</h3></a>
            </div>
        </div>
    </div>
    <div class="subFooter">Vet Connection 2024  ©  Medellín, Antioquia <br>
        Diseñado y desarrollado por Vet Connection S.A © 2024  </div>
   </footer>
  
<a href="" id="final"></a>


    <script type="module" src="/src/components/viewPetDoctor/script.js"></script>
</body>
</html>



