*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: url("/src/assets/img/icons8-cat-footprint-20.png") 0 0, pointer;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
    opacity:0;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(63, 62, 62, 0.205);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    opacity:0;
}
  body::-webkit-scrollbar-thumb:hover{
      background-color: gray;
}
.whatsapp { 
    position: fixed;
    bottom: 150px; 
    right: 50px;
    opacity: .8;
}
.whatsapp:hover{
    opacity: 1;
}
.whatsapp-text {
    color: white;
    background-color: #128C7E;
    border-radius: 15px;
    padding: 2px 10px;
    font-size: 12px;
    display: inline-block;
    position: fixed;
    bottom: 131px;
    right: 42px;
    transition: background-color 0.3s;
    opacity: .8;
}
.whatsapp-text:hover {
     opacity: 1;
}

input:focus{
    outline: none;
}

button{
    border: none;
    cursor: pointer;

}

body{
    background-color:#f1f9ff;
    overflow-x: hidden;
    min-height: 110vh;
}


.ri-arrow-up-double-fill{
    font-size: 60px;
    position: sticky;
    bottom: 3%;
    left: 2%;
    color: #017991;
}

.ri-arrow-down-double-line{
    font-size: 60px;
    position: sticky;
    bottom: 3%;
    left: 93%;
    
}

a{
    text-decoration: none;
}
input{
    text-decoration: none;
}

/* header information page */

.header{
    background-color:#bcd8c1;
    display: grid;
    grid-template-columns: 50% 40% 20%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #017991;
    position: relative;
    z-index: 9;
}

.menuHidden{
    visibility: hidden;
    position: absolute;
}

.searchHidden{
    visibility: hidden;
    position: absolute;
}

.viewMenu{
    visibility: initial;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    background-color: #7af1d0d7;
    border-radius: 10px;
    transition: .3s;
    margin-top: 2.5%;
    transform: translateX(-65%);
    transform: translatez(20%);

    

}
.material-symbols-outlined{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
}
.material-symbols-outlined1{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
}
aside:hover{
    display: flex;
    justify-content: center;
    background-color: #1e6d7d94;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
}

.viewSearch{
    visibility: initial;
    padding: 20px;
    background-color: #7af1d0d7;
    border-radius: 10px;
    transition: .3s;
    margin-top: 10%;
    transform: translateX(-100%);
    border: none;
    border-radius: 200px;

}


.viewSearch:focus{
    outline: none;
}

.nav{
    width: 20%;
    display: flex;
    gap: 10%;
    border:solid 2px black;
}

#title{
    color: #0e3604;
    text-align: center;
    font-size: 30px;
    transform: translateX(-50%);
}

input{
    text-decoration: none;
}

#logo{
    width:85px;
    height:33%;
    transform: translateX(40%);
    margin: 6px;
}

#img3{
    width: 20px;
    height: 20px;
    margin: 3px;
    filter:invert(100%);
}

#btn{
    background-color: #017991;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 40px;
    
}

#icons{
    display: flex;
    transform: translateX(-10%);
    gap: 5%;
    align-items: center;
    padding: 1%;
    
}

.breadCrumb{
    font-size: 10px;
    display: flex;
    gap: 8px;
    background-color: #cbe5f7;
    padding: .5%;

}

/*OTHER SECTION*/
.welcomDoctor{
    position: absolute;
    top: 17%;
    left:42%;
    font-size: 20px;
    color: #017991;
}

/* .container{
    margin-bottom: 50px;
    width: 100%;
    padding:0 40px;
    height: 8vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #edf2fb;
} */

/* .info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #abc4ff;
} */



/* .list1{
    width: 40%;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #edf2fb;
    
    font-size: 20px;
} */



/*SECTION CONTAINER */

.containerWelcom{
    margin: auto;
    width: 80%;
    height: 80vh;
    font-size: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: end;
    color: #48e;
}
.balance{
    font-family: sans-serif;
    font-size: 20px;
}


a{
    text-decoration: none;
    color:#48e;
    cursor: pointer;
}

.containerPhoto{
    width: 35%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    border: 4px solid #acd4df;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#017991;
    cursor: pointer;

    transition: .5s;
    overflow: hidden;
}



.containerPhoto:hover{
    background-color:#01799170;
    color: #f1f9ff;
    transition: .5s;
    border: 4px solid #f1f9ff;
    cursor: pointer;
}


.containerPhoto input{
    
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.show{
    width: 100%;
    object-fit: cover;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}






/*BUTTONS*/

.viewMenu{
    width: 9%;
    height: 20%;
    position: absolute;
    top: 16%;
    left:23.5%;
    font-size: 33px;
    z-index: 20;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    border: 2px solid #acd4df;
    background-color:  #017991e0;
    z-index: 20;
    color: #f1f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.viewMenu:hover{

    transition: .5s;
    z-index: 10;
    background-color: #017991;
}


.viewHistory{
    width: 9%;
    height: 20%;
    position: absolute;
    left:6%;
    font-size: 16px;
    top: 50%;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    border: 2px solid #acd4df;
    background-color:  #017991e0;
    z-index: 20;
    color: #f1f9ff;
    font-weight: 700;
}

.create:hover{
    transition: .5s;
    background-color: #017991;

}

.exit{
    width: 9%;
    height: 20%;
    position: absolute;
    bottom: 3%;
    font-size: 16px;
    left: 15%;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    border: 2px solid #acd4df;
    background-color:  #017991e0;
    z-index: 20;
    color: #f1f9ff;
    font-weight: 700;

}
.exit:hover{
    background-color: #017991;

}

.containerOptions{
    visibility: hidden;
    position: absolute;
    top: 28.5%;
    left: 22%;
    width: 5%;
    height: 7%;
    font-size: 0px;
    transition: .3s;
    z-index: 1;
    display: flex;
    transition: .3s;
    color: #017991;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#d7f6dc;
    border-radius: 10px;
    border: 2px solid #017991;

}

.viewOptions{
    position: absolute;
    width: 30%;
    height: 7%;
    top: 28.5%;
    left: 22%;
    visibility: visible;
    font-size: 10px;
    display: flex;
    transition: .3s;
    z-index: 1;
    color: #017991;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#d7f6dc;
    border-radius: 10px;
    border: 2px solid #017991;
}

.containerOptions span{
    font-weight: 700;
    cursor: pointer;
}


.photo{
    padding: 5px 40px 5px 10px;
}

.patientsDelete{
    padding: 5px 10px 5px 60px;
}



/* CONTAINER OF INFORMATION DOCTOR*/
.container_information{
    width: 30%;
    height: 45vh;
    background-color: #d7f6dc;
    border-radius: 20px;
    position: relative;
    transform: translateY(-18%);
}

.innerPart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.innerPart input{
    width: 50%;
    height: 100%;
    color: black;
    font-size: 14px;
    text-align: end;
}

.updateData{
    position: absolute;
    bottom: -20%;
    right: 0;
    background-color: #017991;
    width: 50%;
    height: 13%;
    border-radius: 10px;
    color: #f1f9ff;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    font-size:14px ;
    justify-content:space-between;
    padding: 10px;
}

ul input{
    width: 200%;
    height: 240%;
    border: none;
    font-size: 20px;
}

li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
}

strong{
    color: #128397;

}

input:focus{
    outline: none;
}

.signOut{
    cursor: pointer;
}
.viewprofiles{
    width: 100%;
    min-height:100vh ;
}


/*Container for create new Profiles*/

.containerDeleteProfiles {
    margin-top: 100px;
    transition: .6s;
    color: black;
    width: 45%;
    transform: translateX(200vw);
}


.viewForm{   /*Clase en css para activar container para create nuevos profiles veterinarios*/
    position: absolute;
    top: 10%;
    /* right: 10%; */
    transform: translateX(55%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    gap: 8%;
    background-color: #edf2fb;
    transition: .6s;
    border-radius: 20px;
    border: 2px solid #017991;
    
}

.containerButtons{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.containerButtons button{
    width: 40%;
    height: 50%;
    border-radius: 15px;
    font-size: 15px;
    background-color:#017991;
    color: white;

}

.viewForm h1{
    color: #017991;
}


.formNewProfile input{
    width: 40%;
    height: 10%;
    font-size: 20px;
    text-align: center;
}


.formNewProfile button{
    width: 20%;
    height: 12%;
    font-size: 20px;
    border-radius: 10px;
    background-color: #48e;
}

.equis{
    position: absolute;
    right: 2%;
    top: 2%;
    padding:13px 20px;
    background-color:#017991;
    font-size: 15px;
    cursor: pointer;
    color: aliceblue;
}

/* class for date*/

.containerFeed{
    width: 100%;
    min-height: 20vh;
    text-align: center;
    margin-bottom: 10px;
    background-color:#f1f9ff;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.viewClinicalHistory{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid{
    width: 80%;
    min-height: 100vh;
    display: flex;
    background-color:#edf2fb;
    border: 3px solid #79b7a9;
}


.containerHistory{
    width: 60%;
    min-height: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
   
}



.containerHistory h2{
    font-size: 30px;
    border-bottom: 2px solid #79b7a9;
    width: 100%;
    padding: 10px;
    color: #017991;

}

.containerText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-wrap: break-word;
    padding:  20px 30px;
}


p{
    max-width: 100%;
    max-height: 100%;
    font-size: 15px;
}

.containerText strong{
    font-size: 20px;
}

.containerComments{
   width: 40%;
   min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-size: 14px;
    border-left: 3px solid #79b7a9;;

}

.containerComments h2{
    font-size: 30px;
    border-bottom: 2px solid #79b7a9;
    width: 100%;
    padding: 10px;
    color: #017991;

}

.date{
    position: absolute;
    right: 3%;
    bottom: 3%;
}

/*ContainerListaAnimal*/


.form1{
    width:70%;
    height: 120vh;
    background-color:#edf2fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #017991;
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 30;
    scale: 0;
    transition: .5s;
}

.viewForm2{
    width:70%;
    height: 120vh;
    background-color:#edf2fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #017991;
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 30;
    scale: 1;
    transition: .5s;

}

.titleAdd{
    margin-bottom: 40px;
    color: #017991;
}

.feedBack{
    width: 100%;
    height: 25%;
    border: none;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #48e;
}

.feedBack:focus{
    outline: none;
}

.send{
    width: 40%;
    height: 70px;
    border: none;
    background-color: #48e;
    color: #edf2fb;
    font-size: 16px;
    transition: .6s;

}

.send:hover{
    border-radius: 10px;
    transition: .6s;
}


.equis2{
    position: absolute;
    top: 3%;
    right: 3%;
    padding:10px 14px;
    font-size: 20px;
    background-color:#017991;
    cursor: pointer;
}



/*Container de historias clinicas*/



/*container para segunda conformacion para realizar cambios*/
.containerSecurity{
    transform: translateY(-110vw);
    position: absolute;
    top: 0;
    z-index: 200;
    width: 40%;
    height: 50vh;
    background-color: rgb(19, 19, 19);
    transition: .5s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/dog-3277416_1920.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 10px solid black;

}
.returnModal{
    transform: translateY(100%);
    margin: auto;
    transition: .5s;
    top: 40;
    left: 30%;
    z-index: 300;
}


.aceptar{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;cursor: pointer;
}



.cancelar{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.big{
    position: absolute;
    top:0;
    z-index: 200;
    width: 100vw;
    height: 600%;
    background-color: rgba(0, 0, 0, 0.432);
}

/* general information footer */
footer{
    background-color: #cce6e0;
}
.contFooter{
    display: flex;
    padding-top: 20px;
    margin-bottom: 30px;
    justify-content: space-around;
    border: #017991;
    
}
.contFooter1{
    display: flex;
    justify-content: space-around;
}
.container1{
    display: flex;
    justify-content:baseline;

}
.subFooter{
    background-color: #0a3200;
    color: white;
    display: block;
text-align: center;
}

#icons2{
    display: flex;
    justify-content: baseline;
}

#img1{
    width: 130px;
    height: 110px;
    padding: 10px;
    margin-top: 15px;
}
#img2{
    width: 20px;
    height: 20px;
    margin: 3px;
    
}
#img3{
    width: 20px;
    height: 20px;
    margin: 3px;
    filter:invert(100%);
}

.list{
    display: block;
    align-items: center;
    text-decoration: none;
    color: #017991;
    padding: 10px;
}
#text{
    text-align: center;
    margin-top: 20px;
    color: #017991;
}
#text1{
    color: #017991;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#blogColor{
    color: #017991;
}