<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>prototipo basado en figma Vet connecion</title>
</head>
<body>
       <!-- general page header -->
   <header class="header">
   <a href="/index.html"> <img src="/src/assets/img/LOGO.png" alt="" id="logo" ></a>
    <h3 id="title">¡Amamos conectar vidas!</h3>
    <div id="icons">
        <div>
            <aside class="material-symbols-outlined "  class="menu">
            menu
            </aside>
            <nav class="menuHidden">
                <a href="/index.html" class="link">Inicio</a>
                <a href="" class="link">Nosotros</a>
                <a href="" class="link">Servicios</a>             <a href="" class="link">Blog</a>
                <a href="" class="link">Contáctanos</a>
            </nav>
        </div>
             
        <aside class="material-symbols-outlined1">
            <img src="/src/assets/img/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="" id="img3">
            <div>
                <input class="searchHidden" type="search" name="search" id="search" placeholder="buscar">
            </div>
        </aside>
                    
    </div>

</header>
<!-- main Start -->
<main>
    <!-- breadcrumb -->
    <nav aria-label="bredCrumb" >
        <ol class="breadCrumb">
            <li class="bredCrumb-item"><a href="/index.html">HOME  ></a></li> 
            <li class="bredCrumb-item"><a href="/src/components/accessPage/index.html">ACCEDER  ></a></li> 
            <li aria-current="page" class="bredCrumb-item active"> INICIAR SESIÓN</li>
        </ol>
        </nav>
        <!-- interactive section of the page -->
            <section class="containerStart">
                <div class="containerStart1">
                    <h3 id="startColor">Iniciar Sesión </h3>
                    <h5 id="vetColor">Vet Connection</h5>
                    <input type="text" placeholder="Usuario" id="input">
                    <input type="text" placeholder="Contraseña" id="input">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                    <a href=""><button id="btn1">
                        Iniciar Sesión
                    </button></a>
                </div>
               </section>
               <section class="containerStart1">
                    <a href="#">
                    <h3 id="vetColor">¿Aún no tienes una cuenta?</h3>
                    <h4 id="startColor"> Crear cuenta</h4>
                    </a>
                </section>

</main>
<!-- general page footer -->
<footer>
    <div class="contFooter">
        <div class="contFooter1">
            <img src="/src/assets/img/logo.png" alt="" id="img1">
            <div class="lista">
                <div>CONTÁCTANOS</div>
                <div class="container1">
                    <div ><img src="/src/assets/img/icons8-teléfono-24.png" alt="" id="img2"></div>
                    <p>Linea de atencion al cliente</p>
                </div>
                <div class="container1">
                    <div>
                        <img src="/src/assets/img/icons8-whatsapp-50.png" alt="" id="img2">
                    </div>
                    <p>3000000000</p>
                </div>
                <div class="container1">
                    <div>
                        <img src="/src/assets/img/icons8-correo-50.png" alt="" id="img2">
                    </div>
                    <p>CorreEjemplo@gmail.com</p>
                </div>
                  
            </div>
            

        </div>
        <div id="text">
            <p>Siguenos y descubre nuestro <br>contenido de interes</p>
            <div id="text1">
                <a href="#"><h3>Blog</h3></a>
            <a href="#"><img src="/src/assets/img/icons8-instagram-24.png" alt="" id="img2"></a>
            <a href="#"><img src="/src/assets/img/icons8-facebook-nuevo-50 (1).png" alt="" id="img2"></a>
            <a href="#"><img src="/src/assets/img/icons8-tik-tok-30.png" alt="" id="img2"></a>
            <a href="#"><img src="/src/assets/img/icons8-youtube-50.png" alt="" id="img2"></a>
            <a href="#"><h3>APP</h3></a>
            </div>
        </div>
    </div>
    <div class="subFooter">Vet Connection 2024  ©  Medellín, Antioquia <br>
        Diseñado y desarrollado por Vet Connection S.A © 2024  </div>
</footer>


<script src="/script.js"></script>
</body>
</html>