<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/src/assets/img/Logo_VetConnection.png">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/src/assets/img/LOGO.png">
    <title>VC Login</title>
</head>
<body>
    <!-- general page header -->
<header class="header">
<a href="/index.html"> <img src="/src/assets/img/LOGO.png" alt="" id="logo" ></a>
 <h3 id="title">¡Amamos conectar vidas!</h3>
 <div id="icons">
     <div>
         <span class="material-symbols-outlined " >
         menu
         </span>
         <nav class="menuHidden">
             <a href="/index.html" class="link">Inicio</a>
             <a href="" class="link">Nosotros</a>
             <a href="" class="link">Servicios</a>
             <a href="" class="link">Blog</a>
             <a href="" class="link">Contáctanos</a>
         </nav>
     </div>
     <div>
         <img src="/src/assets/img/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png" alt="" id="img3" class="material-symbols-outlined1">
         <div>
             <input class="searchHidden" type="search" name="search" id="search" placeholder="buscar">
         </div>
     </div>
                
 </div>

</header>
<a href="https://wa.me/573502014028/?text=Hola!   
Necesito mas infomracion para mi Peludito" target="blank"><img class="whatsapp" src="/src/assets/img/whatsapp_3670051.png" width="60"  title="Contacto Ws"></a>
<!-- main Acces -->
<main>
<!-- breadcrumb -->
 <nav aria-label="bredCrumb" >
 <ol class="breadCrumb">
     <li class="bredCrumb-item"><a href="/index.html">HOME  ></a></li> 
     <li aria-current="page" class="bredCrumb-item active">ACCEDER</li>
 </ol>
    </nav>
 <!-- interactive section of the page -->
 <section>
     <h1 id="wellcome1"> ¡Bienvenido a Vet Connection!</h1>
     <div class="containerAcces">
         <div id="textAcces">
             <p>
                 Vet connecion esta diseñado para facilitar las interacciones entre profesionales de la salud y los amantes de los animales
             </p>
         </div>
         <div class="imgAcces">
             <h4> Accede como:</h4>
             <div class="imgAcces1">
                <div class="imgAcces2">
                    <a href="/start.html"> <img src="/src/assets/img/clínica.png" alt="" id="imgAccesIcon"></a>
                     <a href="/start.html"><button id="btn" class="buttonAcces">
                         <h5>Clinica Veterinaria</h5>
                     </button></a>
                 </div>
                 <div class="imgAcces2">
                     <a href="/start.html"> <img src="/src/assets/img/médico.png" alt="" id="imgAccesIcon"></a>
                      <a href="start.html"><button id="btn" class="buttonAcces">
                          <h5>Medico Veterinario</h5>
                      </button></a>
                  </div>
                  <div class="imgAcces2">
                     <a href="start.html"> <img src="/src/assets/img/miMascota.png" alt="" id="imgAccesIcon"></a>
                      <a href="/start.html"><button id="btn" class="buttonAcces">
                          <h5>Mi Mascota</h5>
                      </button></a>
                  </div>
             </div>
             
         </div>
     </div>
 </section>
</main>
<!-- general page footer -->
<footer>
 <div class="contFooter">
     <div class="contFooter1">
         <img src="/src/assets/img/logo.png" alt="" id="img1">
         <div class="lista">
             <div>CONTÁCTANOS</div>
             <div class="container1">
                 <div ><img src="/src/assets/img/icons8-teléfono-24.png" alt="" id="img2"></div>
                 <p>Linea de atencion al cliente</p>
             </div>
             <div class="container1">
                 <div>
                     <img src="/src/assets/img/icons8-whatsapp-50.png" alt="" id="img2">
                 </div>
                 <p>(+57) 350 2014028</p>
             </div>
             <div class="container1">
                 <div>
                     <img src="/src/assets/img/icons8-correo-50.png" alt="" id="img2">
                 </div>
                 <p>CorreEjemplo@gmail.com</p>
             </div>
               
         </div>
         

     </div>
     <div id="text">
         <p>Siguenos y descubre nuestro <br>contenido de interes</p>
         <div id="text1">
             <p>Blog</p> <img src="img/icons8-instagram-24.png" alt="" id="img2"> <img src="img/icons8-facebook-nuevo-50 (1).png" alt="" id="img2"> <img src="img/icons8-tik-tok-30.png" alt="" id="img2"> <img src="img/icons8-youtube-50.png" alt="" id="img2"> <p>APP</p>
         </div>
     </div>
 </div>
 <div class="subFooter">Vet Connection 2024  ©  Medellín, Antioquia <br>
     Diseñado y desarrollado por Vet Connection S.A © 2024  </div>
</footer>


<script src="/src/components/accessPage/script.js"></script>


</body>
</html>